.profile-image{
    height: 100px;
    width: 100px;
    border-radius: 50px;
}

.profile-info{
    display: flex;
    align-items: center;

}

.blogname{
    margin-left: 30px;
    font-size:25px;
    font-style: italic;
}

.blogdate{
    font-size: 20px;
}

